.accordion_container {
    width: 500px;
}

.accordion_head {
    background-color: skyblue;
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    margin: 0 0 1px 0;
    padding: 7px 11px;
    font-weight: bold;
}

.accordion_body {
    background: lightgray;
}

.accordion_body p {
    padding: 18px 5px;
    margin: 0px;
}

.plusminus {
    float: right;
}

.plusminus img {
    width: 15px;
    vertical-align: middle;
}

.hide {
    display: none;
}